* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  background: #EFF1FF;
  padding-bottom: 3rem;
}

body:before {
  content: '';
  width: 100%;
  height: 30rem;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  background: #8e9aaf;
}

#page {
  margin: 0 auto;
}

header p {
  width: 28rem;
  margin: 0 auto;
}

header {
  text-align: center;
}

header #logo {
  margin: 3.2rem auto;
  animation: topdown 1000ms;
}

header h1 {
  font-family: 'Staatliches', sans-serif;
  color: #fff;
  font-size: 4rem;

  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  background: #cbc0d3;
  letter-spacing: .05em;

  animation: topdown 2000ms 350ms backwards;
}

header p {
  margin-top: 5rem;
  font-family: 'Palanquin', sans-serif;
  font-size: 2rem;
  line-height: 1.5rem;
  color: #23053A;

  margin-bottom: 6.3rem;

  animation: downtop 900ms 950ms backwards;
}

main {
  animation: downtop 1500ms 1050ms backwards;
}

.container-cards {
  display: grid;
  gap: 3.2rem;
}

.card img {
  width: 100%;
  height: auto;
}

.card {
  width: 28rem;
  margin: 0 auto;
  position: relative;
}

.card span {
  font-family: 'Staatliches', sans-serif;
  font-size: 2rem;
  color: #4A4E69;
  line-height: 3.4rem;
  letter-spacing: .05em;

  background: #FEEAFA;
  border-radius: 2rem;
  padding: 0 2.4rem;

  position: absolute;
  right: 1.6rem;
  top: 1.6rem;
}

footer, .container-cards div:nth-child(5), .container-cards div:nth-child(6) {
  display: none;
}

@media (min-width: 768px) {
  .card span {
    display: none ;
  }

  body::before {
    background-color: #EFF1FF;
  }

  #page {
    display: flex;
    width: 100rem;
    background-color: #fff;
  }

  header {
    width: 37.7rem;
    background-color: #8e9aaf;
  }
  
  header p {
    width: 27.5rem;
    margin: 4rem auto;
    color: #fff;
    line-height: 2rem;
  }

  main {
    animation: none;
    margin: 5.5rem 9rem;  
  }

  .card {
    width: 22rem;
  }

  .card:hover{
    cursor: pointer;
    filter: brightness(1.1);
    transform: scale(1.01);
  }

  .container-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;

    grid-template-areas: 
    "card1 card2" 
    "card4 card2"
    "card4 card3";
  }

  .container-cards div:nth-child(1) {
    grid-area: card1;
    animation: topdown 400ms 750ms backwards;
  }
  .container-cards div:nth-child(2) {
    grid-area: card2;
    animation: topdown 600ms 850ms backwards;
  }
  .container-cards div:nth-child(3) {
    grid-area: card3;
    animation: downtop 1000ms 1050ms backwards;
  }
  .container-cards div:nth-child(4) {
    grid-area: card4;
    animation: downtop 900ms 950ms backwards;
  }

  footer {
    display: block;

    text-align: center;
    margin-top: 5rem;
    color: #4A4E69;
    
    font-size: 1.4rem;
    font-family: 'Roboto', sans-serif;

    animation: downtop 1000ms 1050ms backwards;
  }

}

@media (min-width: 1024px) {

  #page {
    width: 128rem;
  }

  .container-cards {
    grid-template-columns: repeat(3, 1rf);
    grid-template-areas: 
    "card1 card2 card5" 
    "card4 card2 card6"
    "card4 card3 card6";
  }
  
  .container-cards div:nth-child(5) {
    grid-area: card5;
    animation: topdown 1000ms 1050ms backwards;
  }
  .container-cards div:nth-child(6) {
    grid-area: card6;
    animation: downtop 1000ms 1050ms backwards;
  }

  .container-cards div:nth-child(5), .container-cards div:nth-child(6) {
    display: block;
  }

}

@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes downtop {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
  
}