* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  /* body */
  --bg-ligh: #fff;
  --bg-dark: #121214;
  
  /* timer */
  --fc-timer-light-mode: #323238;
  --fc-timer-dark-mode: #fff;
  --ff-timer: 'Roboto', sans-serif;
  --fs-timer: clamp(8rem, 8rem + 5vw, 12.6rem);
  --lh-timer: 14.8rem;
  --fw-timer: 500;

  /* card content */
  --light-card-icon: #323238;
  --bg-card-light-mode: #E1E1E6;
  --bg-select-card-light: #02799D;
  --card-select-icon: #fff;
  
  --dark-card-icon: #C4C4CC;
  --bg-card-dark-mode: #29292E;
  --bg-select-card-dark: #0A3442;

  /* msg error */
  --bg-error: #f03e3e;
  --tt-error: white;
}

body {
  min-height: 100vh;
}

body, .container-cards, #page {
  display: grid;
}


#page {
  justify-self: center;
  align-items: center;
}

#timer, #container-controls-timer, .card {
  display: flex;
}

#timer {
  justify-content: center;
}

#timer span {
  font-family: var(--ff-timer);
  font-size: var(--fs-timer);
  line-height: var(--lh-timer);
  color: var(--fc-timer-light-mode);
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* botões de controle */
#container-controls-timer {
  justify-content: space-between;
}

.toggle-control {
  display: flex;
  align-items: center;
  background-color: var(--bgc-card);
  width: clamp(10rem, 10rem + 3vw, 13.8rem);
  height: 4.8rem;
  border-radius: 9999px;
  position: relative;
  box-shadow: inset -0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
}

/* botão play e stop*/
.play, .stop {
  display: flex;
  align-items: center;
  position: absolute;
  gap: clamp(.2rem, .2rem + 1vw, 1.4rem);
}

.play {
  left: 0;
}

.stop {
  right: 0;
}

.text-btn {
  font-family: var(--ff-timer);
  font-size: 2.2rem;
  opacity: .7;
}

.hide {
  display: none;
}

/* card */
.container-cards {
  grid-template-areas: "forest rain" "coffeeshop fireplace";
  justify-content: center;
  gap: 3.2rem;
}

.card {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  width: 13.8rem;
  height: 15.2rem;
  padding: 2.4rem 4.3rem;

  background-color: var(--bg-card-light-mode);
  border-radius: 2.4rem;
}

.card.select {
  background-color: var(--bg-select-card-light);
}
.select path {
  fill: var(--card-select-icon);
}

/* slider */
.volume {
  all: unset;
  all: var(--light-card-icon);
  width: 9rem;
  height: .4rem;
  border-radius: .5rem;
}

.volume.select {
  all: unset;
  all: var(--card-select-icon);
  width: 9rem;
  height: .4rem;
  border-radius: .5rem;
}

.theme {
  position: fixed;
  top: 1rem;
  right: 1rem;

  cursor: pointer;
}

.light.off, .dark.off {
  display: none;
}

/* alert error*/
.alert-error.open {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.alert-error {
  position: absolute;
  background-color: var(--bg-error);
  top: 0;
  left: 0;
  right: 0;

  text-align: center;
  color: var(--tt-error);
  padding: .8rem 0;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;

  visibility: hidden;
  opacity: 0;
  transform: translateY(-30px);
  transition: transform .5s;
}


@media (min-width: 700px) {
  #page {
    display: flex;
    gap: 19.2rem;
  }

  .theme {
    top: 6rem;
    right: 6rem;
  }
}