* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --ff-timer: 'Roboto', sans-serif;
  --fs-timer: clamp(8rem, 10rem + 1vw, 12.6rem);
  --fc-timer: #323238;

  --bgc-body: #fff;
  --fill-card-select: #fff;
  --bgc-card: #E1E1E6;
  --bgc-card-select: #02799D;

  --bg-error: #f03e3e;
  --tt-error: white;
}

body {
  background-color: var(--bgc-body);
  display: grid;
  min-height: 100vh;
}

#page,
#timer,
#container-controls-timer {
  display: flex;
  justify-content: center;
}

#page {
  flex-direction: column;
  justify-self: center;
  gap: 3rem;
  align-items: center;
}

#timer span {
  font-family: var(--ff-timer);
  font-size: var(--fs-timer);
  color: var(--fc-timer);
}

#container-timer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#container-controls-timer {
  gap: 3rem;
  width: clamp(25rem, 26rem + 2vw, 30rem);
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.card {
  background-color: var(--bgc-card);
  width: clamp(10rem, 10.8rem + 5vw, 13.8rem);
  height: 15.2rem;

  border-radius: 2.4rem;
  box-shadow: inset -0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
}

#container-cards-sounds {
  display: grid;
  grid-template-areas: 'A B''C D';
  gap: clamp(2rem, 2rem + 1vw, 3.2rem);
}

.select {
  background: var(--bgc-card-select);
}

.select path {
  fill: var(--fill-card-select);
}

.toggle-control {
  display: flex;
  align-items: center;
  background-color: var(--bgc-card);
  width: clamp(10rem, 10rem + 3vw, 13.8rem);
  height: 4.8rem;
  border-radius: 9999px;
  position: relative;
  box-shadow: inset -0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
}

.play,
.stop {
  display: flex;
  align-items: center;
  position: absolute;
  gap: clamp(.2rem, .2rem + 1vw, 1.4rem);
}

.play {
  left: 0;
}

.stop {
  right: 0;
}

.text-btn {
  font-family: var(--ff-timer);
  font-size: 2.2rem;
  opacity: .7;
}

.hide {
  display: none;
}

.alert-error.open {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.alert-error {
  position: absolute;
  background-color: var(--bg-error);
  top: 0;
  left: 0;
  right: 0;

  text-align: center;
  color: var(--tt-error);
  padding: .8rem 0;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;

  visibility: hidden;
  opacity: 0;
  transform: translateY(-30px);
  transition: transform .5s;
}

@media (min-width: 768px) {
  #page {
    flex-direction: row;
    gap: 19.2rem;
  }
}