body {
  margin: 0;
  background: #2C2B3D;
  color: white;
  font-family: 'JetBrains Mono', monospace;
  min-height: 100vp;
}

.page {
  width: 1083px;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 71px;
  margin-bottom: 101px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  gap: 64px;

  font-size: 14px;
}

a {
  text-decoration: none;
  color: white;
}

main {    
  display: flex;
  justify-content: space-between;
}

span {
  color: #00BFA6;
}

.text h1 {
  font-size: 36px;
  line-height: 40px;
  margin: 0 auto 59px;
}

.text p {
  text-align: center;
  color: #C2C2C2;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 28px;
}

footer {
  width: 568px;
  margin: 157px auto 0;
  padding-top: 27px;
  border-top: 1px solid #00BFA6;

  text-align: center;
  font-size: 14px;
  line-height: 28px;
}

#padblock {
  position: fixed;
  left: 20px;
  bottom: 20px;
}